langchain==0.3.30
langchain-community==0.3.29
langchain-openai==0.3.35
langchain-text-splitters==0.3.11

langchain-ollama==0.3.7
ollama==0.5.3

langgraph==1.0.1

openai

faiss-cpu

pypdf==5.9.0

python-dotenv

tiktoken

fastapi
uvicorn

pydantic 

